#show-order {
  display:none;
}

body { 
  background-color: tan;
  font-family: "Abril-Fatface"
}

.jumbotron {
  font-family: "Abril Fatface";
  background-image: url("../assets/cheese.jpg");
  background-size: cover;
  color:white;
}

.card {
  font-family: "Abril Fatface";
}

.btn-primary {
  background-color: teal;
  color:black;
  font-family: "Abril FatFace";
  padding: 10px;
  margin:10px;
}

.btn-primary:hover{
  background-color:tomato;
}